/*GLOBAL PAGE VARIABLES*/
body {
    background-color: #007acc;
    margin: 0;
}
/*END GLOBAL PAGE VARIABLES*/
/*BACKGROUND IMAGES*/
rect {
    fill: #9f050f;
    transform-origin: top left;
}
#logo {
    align-items: center;
    display: flex;
    height: 100%;
        width: 100%;
    justify-content: center;
}
#logo svg {
    z-index: 2;
}
#background {
    /* filter: blur(100px); */
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}
/*END BACKGROUND IMAGES*/
/*HEADER AND NAVIGATION*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header > nav {
    background: rgba(200,200,200,.42);
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
header > nav > a {
    color: #ccc;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    transition: color .22s ease-in-out;
}
header > nav > a:hover {
    color: #fff;
    cursor: pointer;
}
/*END HEADER AND NAVIGATION*/