/*GLOBAL PAGE VARIABLES*/
body {
    background-color: #007acc;
    margin: 0;
}
@font-face {
	font-family: 'robot';
	src: url('../fonts/robot.otf'); 
}
/*END GLOBAL PAGE VARIABLES*/
/*BACKGROUND IMAGES*/
rect {
    fill: #9f050f;
    transform-origin: top left;
}
#logo {
    align-items: center;
    display: flex;
    height: 100%;
        width: 100%;
    justify-content: center;
}
#logo svg {
    z-index: -3;
}
#background {
    /* filter: blur(100px); */
    display: block;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -2;
}
/*END BACKGROUND IMAGES*/
/*HEADER AND NAVIGATION*/
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}
header > nav {
    background: rgba(200,200,200,.42);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 35px;
}
header > nav > a {
    color: #ccc;
    font-size: 20px;
    padding: 5px 15px;
    text-decoration: none;
    transition: color .22s ease-in-out;
}
header > nav > a:hover {
    color: #fff;
    cursor: pointer;
}
/*END HEADER AND NAVIGATION*/
/*CONTENT*/
#content {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}
#content h1 {
    font-family: "robot";
    color: #fff;
    font-size: 54px;
    font-weight: 100;
    margin: 0;
}
#content h2 {
    color: #fff;
    margin: 0;
    font-weight: 100;
    font-family: monospace;
    font-size: 23px;
}
#content p {
    color: #fff;
    margin: 0;
    font-weight: 100;
    font-family: "robot";
    font-size: 48px;
}
#content ul {
    display: flex;
    flex-direction: column;
    background-color: rgba(100,100,100,.35);
    padding: 12px;
}
#content ul li {
    list-style: none;
    font-family: monospace;
    font-size: 16px;
}
/*END CONTENT*/